{% extends "base.html" %}

{% block content %}
    <h1 class="text-xl text-gray-800 flex justify-between items-center mb-5">
        <span>Mon compte</span>
        <span class="text-sm text-gray-400">
            Connecté en tant que {{ current_user.email }}
        </span>
    </h1>
    <ul class="border-gray-300 border-b flex md:space-x-2 text-gray-600" x-data="tabs">
        <li class="p-2 px-4 bg-gray-200 flex-1 md:flex-none md:rounded-t text-center hover:bg-gray-300" :class="{'!bg-gray-300': isActive('informations')}">
            <a href="{{ url_for('account.informations') }}">Mes informations</a>
        </li>
        {% if current_user.role == "recruiter" %}
            <li class="p-2 px-4 bg-gray-200 flex-1 md:flex-none md:rounded-t text-center hover:bg-gray-300" :class="{'!bg-gray-300': isActive('jobs')}">
                <a href="{{ url_for('account.jobs') }}">Mes annonces</a>
            </li>
        {% else %}
        <li class="p-2 px-4 bg-gray-200 flex-1 md:flex-none md:rounded-t hover:bg-gray-300" :class="{'!bg-gray-300': isActive('applications')}">
            <a href="{{ url_for('account.applications') }}">Mes candidatures</a>
        </li>
        {% endif %}
    </ul>
    {% block account %}{% endblock %}
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
{% endblock %}