{% extends "account/base.html" %}

{% block account %}
    <table class="w-full">
        <thead>
            <tr class="bg-gray-300 text-left">
                <th class="px-4 py-2 font-normal">Poste</th>
                <th class="px-4 py-2 font-normal">Candidatures</th>
                <th class="px-4 py-2 font-normal">Date</th>
                <th class="px-4 py-2 font-normal">Status</th>
                <th class="px-4 py-2 font-normal">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs.items %}
                <tr class="text-gray-400 border-b">
                    <td class="px-4 py-2">
                        <a 
                            href="{{ url_for('jobs.show', id=job.id) }}"
                            class="text-blue-500 hover:underline">
                            {{ job.title }}
                        </a>
                    </td>
                    <td class="px-4 py-2">{{ job.applications | selectattr('is_active', 'true') | list | length }}</td>
                    <td class="px-4 py-2">{{ job.created_at.strftime("%d-%m-%Y") }}</td>
                    <td class="px-4 py-2 flex space-x-2">
                        {% if job.is_active %}
                            Publiée
                        {% else %}
                            En attente
                        {% endif %}
                    </td>
                    <td>
                        <button
                            @click="open"
                            data-next="/account/jobs/{{ job.id }}/delete"
                            data-message="Voulez-vous vraiment supprimer cette annonce ?"
                            class="w-full rounded bg-red-500 px-3 py-1 text-sm text-white hover:bg-red-600 focus:outline-none transition"
                            >
                            Supprimer
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center py-2 text-gray-500">Aucune annonce</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if jobs.pages %}
        <div class="flex justify-end space-x-4 mt-5">
            {% if jobs.has_prev %}
                <a href="{{ url_for('account.jobs', page=jobs.prev_num) }}" class="rounded bg-blue-500 text-white px-3 py-1 hover:bg-blue-600 focus:outline-none">Précédent</a>
            {% endif %}
            {% if jobs.has_next %}
                <a href="{{ url_for('account.jobs', page=jobs.next_num) }}" class="rounded bg-blue-500 text-white px-3 py-1 hover:bg-blue-600 focus:outline-none">Suivant</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}