{% extends "admin/base.html" %}

{% block admin %}
    <div class="overflow-x-scroll">
        <table class="w-full">
            <thead>
                <tr class="bg-gray-300 text-left">
                    <th class="px-4 py-2 font-normal">Poste</th>
                    <th class="px-4 py-2 font-normal">Candidat</th>
                    <th class="px-4 py-2 font-normal">CV</th>
                    <th class="px-4 py-2 font-normal">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications.items %}
                    <tr class="text-gray-400 border-b">
                        <td class="px-4 py-2">
                            <a 
                                href="{{ url_for('jobs.show', id=application.job.id) }}" 
                                class="text-blue-500 hover:underline">
                                {{ application.job.title }}
                            </a>
                        </td>
                        <td class="px-4 py-2">{{ application.candidate.email }}</td>
                        <td class="px-4 py-2">
                            <a 
                                href="{{ url_for('static', filename='uploads/' + application.candidate.resume_file) }}"
                                class="text-blue-500 hover:underline">
                                Visualiser
                            </a>
                        </td>
                        <td class="px-4 py-2 flex space-x-2">
                            {% if not application.is_active %}
                                <button 
                                    @click="open"
                                    data-next="{{ url_for('admin.activate_application', job_id=application.job.id, user_id=application.candidate.id) }}"
                                    data-message="Voulez-vous vraiment activer cette candidature ?"
                                    class="flex-1 rounded px-3 py-1 text-white bg-blue-500 text-sm hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-600 focus:ring-opacity-50">
                                    Activer
                                </button>
                            {% endif %}
                            {% if current_user.role == "administrator" %}
                                <button 
                                    @click="open"
                                    data-next="{{ url_for('admin.delete_application', job_id=application.job.id, user_id=application.candidate.id) }}"
                                    data-message="Voulez-vous vraiment supprimer cette candidature ?"
                                    class="flex-1 rounded px-3 py-1 text-white bg-red-500 text-sm hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-600 focus:ring-opacity-50">
                                    Supprimer
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center py-2 text-gray-500">Aucune candidature</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if applications.pages %}
        <div class="flex items-center justify-end space-x-4 mt-5">
            {% if applications.has_prev %}
                <a 
                    href="{{ url_for('admin.applications', page=applications.prev_num) }}"
                    class="rounded px-3 py-1 bg-blue-500 text-white hover:bg-blue-600">Précédent</a>   
            {% endif %}
            {% if applications.has_next %}
                <a 
                    href="{{ url_for('admin.applications', page=applications.next_num) }}"
                    class="rounded px-3 py-1 bg-blue-500 text-white hover:bg-blue-600">Suivant</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}