{% extends "base.html" %}

{% block content %}
    <h1 class="text-xl text-gray-800 mb-5 flex justify-between items-center">
        <span>Gérer</span>
        <span class="text-sm text-gray-400">
            Connecté en tant que {{ current_user.email }} ({{ current_user.role|capitalize }})
        </span>
    </h1>
    <ul class="border-gray-300 border-b flex space-x-2 text-gray-600" x-data="tabs">
        <li class="p-2 px-4 bg-gray-200 rounded-t hover:bg-gray-300" :class="{'!bg-gray-300': activeTab === 'candidates'}">
            <a href="{{ url_for('admin.candidates') }}">Candidats</a>
        </li>
        <li class="p-2 px-4 bg-gray-200 rounded-t hover:bg-gray-300" :class="{'!bg-gray-300': activeTab === 'recruiters'}">
            <a href="{{ url_for('admin.recruiters') }}">Recruteurs</a>
        </li>
        {% if current_user.role == "administrator" %}
            <li class="p-2 px-4 bg-gray-200 rounded-t hover:bg-gray-300" :class="{'!bg-gray-300': activeTab === 'consultants'}">
                <a href="{{ url_for('admin.consultants') }}">Consultants</a>
            </li>
        {% endif %}
        <li class="p-2 px-4 bg-gray-200 rounded-t hover:bg-gray-300" :class="{'!bg-gray-300': activeTab === 'jobs'}">
            <a href="{{ url_for('admin.jobs') }}">Annonces</a>
        </li>
        <li class="p-2 px-4 bg-gray-200 rounded-t hover:bg-gray-300">
            <a href="{{ url_for('admin.applications') }}">Candidatures</a>
        </li>
    </ul>
    {% block admin %}{% endblock %}
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
{% endblock %}