{% extends "admin/base.html" %}

{% block admin %}
    <div class="overflow-x-scroll">
        <table class="w-full">
            <thead>
                <tr class="bg-gray-300 text-left">
                    <th class="px-4 py-2 font-normal">Email</th>
                    <th class="px-4 py-2 font-normal">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for consultant in consultants.items %}
                    <tr class="text-gray-400 border-b">
                        <td class="px-4 py-2">{{ consultant.email }}</td>
                        <td class="px-4 py-2 flex space-x-2">
                            <button 
                                @click="open"
                                data-next="/admin/delete/users/{{ consultant.id }}"
                                data-message="Voulez-vous vraiment supprimer ce consultant ?"
                                class="flex-1 rounded px-3 py-1 text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-600 focus:ring-opacity-50">
                                Supprimer
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center py-2 text-gray-500">Aucun consultant</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex items-center justify-end space-x-4 mt-5">
        <a 
            href="{{ url_for('admin.create_consultant') }}" 
            class="inline-block mr-auto rounded px-3 py-1 text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-600 focus:ring-opacity-50">
            Créer un consultant
        </a>
        {% if consultants.pages %}
            {% if consultants.has_prev %}
                <a 
                    href="{{ url_for('admin.consultants', page=consultants.prev_num) }}"
                    class="rounded px-3 py-1 bg-blue-500 text-white hover:bg-blue-600">Précédent</a>   
            {% endif %}
            {% if consultants.has_next %}
                <a 
                    href="{{ url_for('admin.consultants', page=consultants.next_num) }}"
                    class="rounded px-3 py-1 bg-blue-500 text-white hover:bg-blue-600">Suivant</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}