<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}TRT Conseil{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link 
            rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
            crossorigin="anonymous">
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body class="bg-gray-100 pb-3" :class="{'overflow-hidden': visible}" x-data="modal">
        <header class="bg-slate-200 mb-5">
            <div class="max-w-screen-md mx-auto py-4 flex justify-between items-center">
                <div class="text-2xl text-gray-800">TRT Conseil</div>
                <nav class="space-x-4 text-gray-500">
                    <a href="{{ url_for('main.home') }}" class="hover:text-gray-800">Accueil</a>
                    {% if current_user.is_authenticated %}
                        {% if current_user.role == "recruiter" %}
                            <a href="{{ url_for('jobs.create')}}" class="hover:text-gray-800">Publier une annonce</a>
                        {% endif %}
                        {% if current_user.role in ["consultant", "administrator"] %}
                            <a href="{{ url_for('admin.candidates') }}" class="hover:text-gray-800">Gérer</a>
                        {% else %}
                            <a href="{{ url_for('account.informations') }}" class="hover:text-gray-800">Mon compte</a>
                        {% endif %}
                        <a href="{{ url_for('auth.logout') }}" class="hover:text-gray-800">Se déconnecter</a>
                    {% else %}
                        <a href="{{ url_for('auth.register')}}" class="hover:text-gray-800">Créer un compte</a>
                        <a href="{{ url_for('auth.login')}}" class="hover:text-gray-800">Se connecter</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="max-w-screen-md mx-auto">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "success" %}
                            <div class="rounded p-4 text-white mb-5 bg-green-500 flex items-center space-x-4">
                                <i class="fas fa-check"></i>
                                <span>{{ message }}</span>
                            </div>     
                        {% elif category == "error" %}
                            <div class="rounded p-4 text-white mb-5 bg-red-500 flex items-center space-x-4">
                                <i class="fas fa-times"></i>
                                <span>{{ message }}</span>
                            </div>     
                        {% else %}
                            <div class="rounded p-4 text-white mb-5 bg-yellow-500 flex items-center space-x-4">
                                <i class="fas fa-exclamation-triangle"></i> 
                                <span>{{ message }}</span>
                            </div>     
                        {% endif %}       
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div x-show="visible" class="bg-gray-800 bg-opacity-60 flex fixed inset-0" x-cloak>
            <div class="rounded bg-white p-6 m-auto max-w-screen-sm" @click.away="close">
                <p x-text="message"></p>
                <div class="border-t pt-6 mt-6 flex justify-end space-x-2">
                    <form method="POST" @submit.prevent="submit">
                        <button class="rounded px-3 py-2 text-white bg-blue-500">Confirmer</button>
                    </form>
                    <button class="rounded px-3 py-2 text-white bg-red-500" @click="close">Annuler</button>
                </div>
            </div>
        </div>
        {% block javascript %}
            <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
        {% endblock %}
    </body>
</html>