<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}TRT Conseil{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body class="bg-gray-100">
        <header class="bg-slate-200 mb-5">
            <div class="max-w-screen-md mx-auto py-4 flex justify-between items-center">
                <div class="text-2xl text-gray-800">TRT Conseil</div>
                <nav class="space-x-4 text-gray-500">
                    <a href="#" class="hover:text-gray-800">Accueil</a>
                    <a href="{{ url_for('auth.register')}}" class="hover:text-gray-800">Créer un compte</a>
                    <a href="#" class="hover:text-gray-800">Se connecter</a>
                </nav>
            </div>
        </header>
        <div class="max-w-screen-md mx-auto">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>