<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}TRT Conseil{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://kit.fontawesome.com/7c7edd9ed3.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-gray-100">
        <header class="bg-slate-200 mb-5">
            <div class="max-w-screen-md mx-auto py-4 flex justify-between items-center">
                <div class="text-2xl text-gray-800">TRT Conseil</div>
                <nav class="space-x-4 text-gray-500">
                    <a href="{{ url_for('main.home') }}" class="hover:text-gray-800">Accueil</a>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" class="hover:text-gray-800">Se déconnecter</a>
                    {% else %}
                        <a href="{{ url_for('auth.register')}}" class="hover:text-gray-800">Créer un compte</a>
                        <a href="{{ url_for('auth.login')}}" class="hover:text-gray-800">Se connecter</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="max-w-screen-md mx-auto">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "success" %}
                            <div class="rounded p-4 text-white mb-5 bg-green-500">
                                {{ message }}
                            </div>     
                        {% elif category == "error" %}
                            <div class="rounded p-4 text-white mb-5 bg-red-500">
                                {{ message }}
                            </div>     
                        {% else %}
                            <div class="rounded p-4 text-white mb-5 bg-yellow-500">
                            {{ message }}
                        </div>     
                        {% endif %}       
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>